<article>
  <header>
    <h1>Welcome to Pasteboard</h1>
  </header>
  <p>You are signed in as: <strong><%= email %></strong></p>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>
</article>
